<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @node.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @node.type %>
</p>

<p>
  <strong>Desk:</strong>
  <%= @node.desk %>
</p>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
